@media (max-width: 768px) {
    .container-weather {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cards-container {
        width: 90%;
        padding: 0;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container-weather {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 50px;
}

.login-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 50vh;
}

.cards-container {
    padding: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    max-height: 90vh;
    overflow-y: auto;
}